
.re-container {
  width: 90%;
  margin: 40px auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }