@use "variables";
.header {
  background-color:variables.$primary-color;
  padding: 20px 0;
}

body{
background-color: secondary-color;

}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 80px;
}

.header-text h1 {
  margin: 0;
  color: rgb(221, 40, 40);
}