@use "variables";
.header {
  background: linear-gradient(135deg, #27ae60, #2ecc71);
  padding: 30px 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;

  .container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;

   
  }

  .header-text {
    h1 {
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      opacity: 0.9;
    }

    h2 {
      font-size: 24px;
      margin: 5px 0 0 0;
      font-weight: 700;
    }
  }
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 80px;
}

.header-text h1 {
  margin: 0;
  color: rgb(221, 40, 40);
}
.search-section {
  width: 90%;
  margin: 30px auto;
  text-align: center;

  input {
    width: 60%;
    padding: 12px 18px;
    border-radius: 30px;
    border: 2px solid #27ae60; 
    font-size: 16px;
    outline: none;
    transition: 0.3s;

   
  }
}
#loader {
  text-align: center;
  font-size: 20px;
  color: #27ae60;
  margin: 30px 0;
}

.hidden {
  display: none;
}